<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.near.kevin.PKLMobileV2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PKL Mobile"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.near.kevin.PKLMobileV2.SplashInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.near.kevin.PKLMobileV2.LoginActivity" />
        <activity android:name="com.near.kevin.PKLMobileV2.RegisterActivity" />
        <activity android:name="com.near.kevin.PKLMobileV2.CatalogActivity" />
        <activity android:name="com.near.kevin.PKLMobileV2.ProductDetailActivity" />
        <activity android:name="com.near.kevin.PKLMobileV2.TransactionActivity" />
        <activity android:name="com.near.kevin.PKLMobileV2.TransactionDetailActivity" />
        <activity android:name="com.near.kevin.PKLMobileV2.RecapActivity" />
        <activity android:name="com.near.kevin.PKLMobileV2.SplashOutActivity" />
    </application>

</manifest>